<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="contentinfo">
        <p>
          <small>
            Reverse geocaching provided by <%=link_to('GeoNames', 'http://www.geonames.org/')%>
          </small><br>
          <small>
            Weather lookup provided by <%=link_to('OpenWeatherMap', 'http://openweathermap.org/')%>
          </small><br>
          <small>Copyright &copy; Mykl Clason <%= Time.zone.now.year %></small>
        </p>
      </footer>
    </div>
  </div>
</div>